main{
    width: 100%;
    max-height: 100vh;
    position: relative;
}

.mainApp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:40%;
    height: 50vh;
}

.nav{
    margin-bottom: 3%;
}